#login-container > * {
    align-content: flex-start;
    height: 75vh;
}

#login-form {
    margin-top: 18vh;
}

.custom-hr {
    padding-bottom: 2px;
    margin-bottom: 5%;
}

/* .form-field > label {
    width: 20%;
}

.form-field {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.form-field > input[type=text], .form-field > input[type=email], .form-field > input[type=password] {
    width: 35%;
}

.form-field > input[type=submit] {
    background-color: #0078D7;
    color: #FFF;
    border: none;
    min-width: 80px;
    width: 20%;
    height: 25px;
    cursor: pointer;
} */