body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.5046393557422969) 0%, rgba(9,9,121,0.6194852941176471) 39%, rgba(255,0,0,0.4374124649859944) 100%);
}

/* tbody {
    height: 70vh;
}

tbody td, thead th {
    width: 20%;
} */